.add-board-column-modal-container {
  .column-title-style {
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    border-width: 2px;
    border-color: transparent;
  }
  .selected-color-scheme {
    border-color: black;
    border-width: 2px;
  }
}
